{% extends "base.html" %}

{% block title %}Vinyl Alert {{ current_user.username }}{% endblock %}

{% block page_content %}
<div class="row">
	<div class="large-12 columns">
		<h2>Main Menu</h2>
        <h4>Page Name: {{ page_name }}</h4>
		<hr/>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<ul>
            <li><a href="{{ wantlist_url }}">Want List</a></li>
            <li><a href="{{ collectionlist_url }}">Collection List</a></li>
            <li><a href="{{ salelist_url }}">Sale List</a></li>
            <li><a href="{{ matchlist_url }}">New Match List</a></li>
        </ul>
        <hr/>
		<b>Wantlist Items Length: {{ wantlist_items_len }}</b>
	</div>
</div>
{% endblock %}