{% extends "base.html" %}

{% block title %}Vinyl Alert{% endblock %}

{% block page_content %}
{%- if current_user.is_authenticated() %}
<div class="row">
	<div class="large-12 columns">
		<h2>Tokens</h2>
		<hr/>
	</div>
</div>

<div class="row">
	<h3>MatchMaker Tokens</h3>
	<div class="large-12 columns">
		<p>
			<table>
                {% for k, v in mm_items: %}
				<tr><td><b>{{ k }}:&nbsp;</b></td><td>{{ v }}</td></tr>
				{% endfor %}
			</table>
		</p>
	</div>
</div>

{% else %}
<h3>Guest - Unauthorised. Please Register or Login</h3>
{% endif %}
{% endblock %}