{% extends "base.html" %}

{% block title %}Vinyl Alert {{ current_user.username }}{% endblock %}

{% block page_content %}
<div class="row">
	<div class="large-12 columns">
		<h2>Want List</h2>
		<h4>Page Name: {{ page_name }}</h4>
		<hr/>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<b>Wantlist: </b>{{wantlist}}
		<hr/>
		<b>Wantlist Len: </b>{{wantlist_len}}
		<hr/>
		<p>
			Stay cool and don't lose your temper cos it ain't working right now. It will!!
		</p>
	</div>
</div>

{% endblock %}